.main-header {
  position: fixed;
  z-index: 2;
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
  display: flex;
  justify-content: space-between;
  top: 0;
}

.internal-card-container {
  background: white;
  top: 64px;
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.internal-card-container .main-card {
  width: 100%;
}

.internal-card-container .main-card {
  min-height: 300px;
}

.d-flex {
  display: flex;
}

.content-between {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}

.invisible {
  visibility: hidden;
}

.auth-spinner {
  margin-right: 16px;
}

.w-25 {
  width: 25%;
}

.mobile-title {
  display: none;
}

.btns-div {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

@media screen and (max-width: 960px) {

  .mat-card-content div {
    display: block;
  }

  .mat-card {
    padding: 0;
    box-shadow: none;
  }

  .alert-banner, .browser-title {
    display: none;
  }

  .mobile-title {
    display: inline;
  }

}