<mat-card-header class="settings-card-header">

	<mat-card-title>Settings</mat-card-title>

    <a
      routerLink="/internal/home"
      [class.disabled]="showSpinner"
      mat-button color="primary">
      My Bills
    </a>

</mat-card-header>

<mat-card-content class="settings-card-content">

	<div *ngIf="!allDataLoaded" 
		class="mat-spinner-container">
     	<mat-spinner diameter="50"></mat-spinner>
    </div>

	<div *ngIf="allDataLoaded">

		<table class="settings-table">

			<tr>

				<td>
					<p class="mat-body">Bilbo's Pot</p>
				</td>
				<td>
					<mat-form-field>
					
					  <mat-select 
					  	[disabled]="showSpinner || !pots.length" 
					  	[(ngModel)]="user.bilboPotId"
					  	(selectionChange)="updateBilboPot()">

					    <mat-option *ngFor="let pot of pots" [value]="pot.id">
					      {{pot.name}}
					    </mat-option>

					  </mat-select>
					
					</mat-form-field>
				</td>

				<td>
					<p class="mat-body">Email address</p>
				</td>
				<td>

					<mat-form-field>
					
					  <input 
					    [disabled]="true"
					  	matInput 
					  	type="email" 
					  	[(ngModel)]="user.emailAddress">
					
					</mat-form-field>

				</td>
				<td>
					
				</td>

			</tr>

			<tr>
				<td>
					<p class="mat-body">Main account</p>
				</td>
				<td>
					<mat-form-field>
			
					  <mat-select 
					  	[disabled]="showSpinner || !accounts.length"
					  	[(ngModel)]="user.mainAccountId"
					  	(selectionChange)="updateMainAccount()">

					    <mat-option *ngFor="let account of accounts" [value]="account.id">
					      {{account.type}}
					    </mat-option>

					  </mat-select>
					
					</mat-form-field>
				</td>
				<td>
					<p class="mat-body">Password</p>
				</td>
				<td>
					<mat-form-field>
				
					  <input 
					    [disabled]="true"
					  	matInput 
					  	[(ngModel)]="user.emailAddress"
					  	type="password">
					
					</mat-form-field>
				</td>
					
				<td>
					
				</td>
			</tr>

			<tr>
				<td>
					<p class="mat-body">Salary date</p>
				</td>
				<td>
					<mat-form-field>
				
					  <mat-select 
					    class="text-align-right"
					  	[disabled]="showSpinner" 
					  	[(ngModel)]="user.potDepositDay"
					  	(selectionChange)="updateSalaryDate()">

					    <mat-option *ngFor="let date of [].constructor(31); let i = index" [value]="i + 1">
					      {{i + 1}}
					    </mat-option>

					  </mat-select>
					
					</mat-form-field>
				</td>
				<td>
					<p class="mat-body">Account status</p>
				</td>
				<td class="text-align-right">
					<button
				      (click)="updateIsActive()"
				      [disabled]="showSpinner"
				      mat-raised-button color="secondary">
				      {{ user.isActive ? 'Deactivate' : 'Activate' }}
				    </button>
				</td>
			</tr>

		</table>

	</div>

</mat-card-content>

<mat-card-footer class="settings-card-footer">

	<div>
		<mat-spinner diameter="30" *ngIf="showSpinner"></mat-spinner>
	</div>

    <button
      (click)="logout()"
      [disabled]="showSpinner || !allDataLoaded"
      mat-raised-button color="primary">
      Logout
    </button>

</mat-card-footer>
