<div class="internal-card-container">

	<mat-card 
		*ngIf="user && (!user.whitelisted || !user.monzoToken || !user.mainAccountId || !user.bilboPotId)" 
		class="banner-card">

		<mat-card-content>

			<div *ngIf="!user.whitelisted" class="d-flex content-between">

				<p class="mat-body" >
					Bilbo is currently white-listing your account before linking to Monzo!
				</p>

			    <button mat-button
			    		color="primary"
				        matTooltip="An explanation about the Monzo API and white-listing..."
				        matTooltipClass="info-popover">
				  More info
				</button>

			</div>

			<div *ngIf="user.whitelisted && !user.monzoToken" class="d-flex content-between">

				<p class="mat-body" >
					Bilbo needs you to link your Monzo account!
				</p>

				<div class="d-flex items-center">

					<mat-spinner diameter="20" [ngClass]="{invisible: !showAuthSpinner}" class="auth-spinner"></mat-spinner>

				    <button
				      (click)="authorise()"
				      [disabled]="showAuthSpinner"
				      mat-button color="primary">
				      Link Monzo
				    </button>

				</div>

			</div>

			<div *ngIf="user.monzoToken && (!user.mainAccountId || !user.bilboPotId)" class="d-flex content-between">

				<p class="mat-body" >
					Bilbo needs you to select your <strong>Main Account</strong> and <strong>Pot</strong> in Settings!
				</p>

			    <button mat-button
			    		color="primary"
				        matTooltip="An explanation for why we need these to be selected to start moving money around..."
				        matTooltipClass="info-popover">
				  More info
				</button>

			</div>

		</mat-card-content>

	</mat-card>

	<mat-card class="main-card">
		<router-outlet></router-outlet>
	</mat-card>

</div>
