mat-icon.small-mat-icon {
  font-size: 14px;
  height: 14px;
}

.date-filter-buttons {
  flex: auto; 
  height: 40px; 
  align-items: center; 
  display: flex;
}

.home-table {
  width: 100%;
  margin-bottom: 50px;
}

.home-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.home-full-width {
  width: 100%;
}

.button-row button, .button-row a {
  margin-right: 8px;
}

.p-mat-row {
  padding: 0.5rem 0;
}

.p-mat-btn-row {
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home-card-content {
  padding: 16px;
}

.home-card-header {
  padding-top: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home-card-header button {
	margin-right: 16px;
}

.mat-card-header .mat-card-title {
     margin-bottom: 0; 
}

.mat-cell-inner {
    display: flex;
    justify-content: flex-end;
}

.home-card-footer {
	display: flex;
	justify-content: space-between;
  align-items: center;
	padding: 16px 32px 16px 56px;
	margin-bottom: 16px;
}

.mat-spinner-container {
	width: 100%;
	display: flex;
	justify-content: center;
	padding: 16px;
}

.small-mat-spinner-container {
  padding-right: 16px;
}

.salary-date-form-field {
  padding-right: 16px;
  padding-left: 16px;
}

.d-flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.home-header {
  padding: 1rem;
}

.home-header div {
  padding-left: 1rem;
  padding-right: 1rem;
}

.invisible {
  visibility: hidden;
}

.text-align-right {
  text-align: right;
}

tr.mat-footer-row {
  font-weight: bold;
}

.mobile-delete {
  display: none;
}

#mobileNewBillButton {
  display: none;
}



@media screen and (max-width: 960px) {

  .mat-table {
    border: 0;
    vertical-align: middle;
    border-collapse: collapse; 
  }

  // hide the header and footer
  
  .mat-table .mat-header-cell, .mat-table .mat-footer-cell {
    display: none;
  }

  tr.mat-header-row, tr.mat-footer-row {
    height: 0px;
  }

  // style the rows as cards
  
  .mat-table .mat-row {
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 1px 3px 0 rgba(0, 0, 0, .12);
    margin-bottom: 30px;
    display: block;
    height: unset;
    padding: 0 0 15px 0;
  }

  .mat-table .mat-row:last-child {
    margin-bottom: 0;
  }
  
  // style the cells as rows 

  .mat-table .mat-cell {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;

    &:first-child {
      background: rgba(0, 0, 0, .03);
      padding: 0 15px;
      height: 56px;
    }

    &:first-child span {
      display: none;
    }

    &:first-child div.mobile-delete {
      display: flex;
    }

    &:not(:first-child) {
      text-align: right;
      padding: 15px;
    }

    &:last-child {
      display: none;
    }

  }

  // add labels to each cell (aligned left)

  .mat-table .mat-cell:before {
    content: attr(data-label);
    float: left;
  }

  .mat-table .mat-cell:last-child {
    // border-bottom: 1px solid red;
  }
  
  .mat-table .mat-cell:first-child {
    // margin-top: 4%;
  }

  .mat-card-content {
    margin-bottom: 0;
  }

  .home-card-footer {
    display: block;
    margin: 0;
    padding: 0 15px 0 15px;
  }

  .mat-card.main-card {
    padding: 0;
    box-shadow: none;
  }

  .home-card-footer {
    display: none;
  }

  #mobileNewBillButton {
    display: block;
    position: fixed;
    bottom: 20px;
    right: 20px;
  }

}
