<p>
  REGISTER page
</p>

<ul>
<!-- routerLink is an Angular 7 attribute that allows you to direct the browser to different routed components-->
<label>email address 
	<input type="email" [(ngModel)]="user.emailAddress"/>
</label>

<label>password 
	<input type="password" [(ngModel)]="user.password"/>
</label>

<button (click)="register()">Register</button>

<li><a routerLink="/login">Already a member? Login</a></li>
</ul>

<app-spinner *ngIf="showSpinner" [text]="spinnerText"></app-spinner>

<app-popup 
	*ngIf="showErrorPopup" 
	[title]="errorPopupTitle" 
	[message]="errorPopupMessage" 
	[confirm]="errorPopupConfirm" 
	(onConfirm)="onConfirmPopup()">
</app-popup>
